@import url(https://fonts.googleapis.com/css?family=Open+Sans:700);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select,
textarea {
  outline: none;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  display: block;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*=================================================================================*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: 'helveticaneuecyrroman';
  src: url("fonts/helveticaneuecyr-roman-webfont.eot");
  src: url("fonts/helveticaneuecyr-roman-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuecyr-roman-webfont.woff2") format("woff2"), url("fonts/helveticaneuecyr-roman-webfont.woff") format("woff"), url("fonts/helveticaneuecyr-roman-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@media all and (-webkit-min-device-pixel-ratio: 0) {
@font-face {
    font-family: 'helveticaneuecyrroman';
    font-weight: normal;
    font-style: normal;
    src: url("fonts/helveticaneuecyr-roman-webfont.svg#helveticaneuecyrroman") format("svg");
}
}

@font-face {
  font-family: 'MyriadProRegular';
  src: url("fonts/MyriadProRegular.eot");
  src: url("fonts/MyriadProRegular.eot?#iefix") format("embedded-opentype"), url("fonts/MyriadProRegular.woff2") format("woff2"), url("fonts/MyriadProRegular.woff") format("woff"), url("fonts/MyriadProRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.wrapper,
.header,
.footer {
  width: 100%;
  height: auto;
  background: #f1f1f1;
}

.header,
.footer {
  background: #e1e1e1;
}

.header__inner,
.content,
.footer__inner {
  width: 600px;
  height: auto;
  background: #53545e;
  margin: 0 auto;
  padding: 34px 30px;
}

.header__inner:after,
.content:after,
.footer__inner:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 320px) {
  .header__inner,
  .content,
  .footer__inner {
    width: 100%;
    padding: 20px 30px;
  }
}

.header__logo {
  float: left;
}

@media only screen and (max-width: 320px) {
  .header__logo {
    float: none;
  }
}

.header__logo-link {
  display: block;
  width: 157px;
  height: 34px;
  background: url("img/img.png") 0 0 no-repeat;
}

@media only screen and (max-width: 320px) {
  .header__logo-link {
    margin: 0 auto;
  }
}

.header__links {
  float: right;
  padding: 15px 0 0 0;
}

@media only screen and (max-width: 320px) {
  .header__links {
    float: none;
    text-align: center;
  }
}

.header__right {
  font: 12px Open Sans;
  color: #f1f1f1;
  letter-spacing: -.3px;
}

.header__link {
  color: #a6a7b0;
}

.header__link:hover {
  text-decoration: underline;
}

.content {
  height: auto;
  background: #fff;
  padding: 30px 30px 0 30px;
}

.start {
  width: 540px;
  height: 250px;
  background: url("img/pictures.png") no-repeat;
  background-size: cover;
  -webkit-animation: myOpacity 2s;
  animation: myOpacity 2s;
  animation-timing-function: ease-in-out;
}

@media only screen and (max-width: 320px) {
  .start {
    width: 100%;
    height: 122px;
  }
}

@-webkit-keyframes myOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes myOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.item {
  width: 100%;
  border-top: 1px solid #eaeaea;
}

.item__title {
  font: 18px Open Sans;
  color: #53545e;
  line-height: 18px;
  text-align: left;
  padding: 16px 0;
  text-transform: uppercase;
}

.item__text {
  font: 14px helveticaneuecyrroman;
  color: #bfc0c3;
  line-height: 19px;
}

.item__button {
  display: block;
  margin: 16px 0;
  width: 79px;
  height: 36px;
  background: #53545e;
  text-transform: uppercase;
  font: 14px Open Sans;
  color: #fff;
  text-align: center;
  line-height: 36px;
}

.item__button:hover {
  text-decoration: underline;
}

.foritems,
.ad {
  width: 100%;
  padding: 30px 0 0 0;
  margin: 30px 0 0 0;
  border-top: 1px solid #eaeaea;
}

.foritems:after,
.ad:after {
  content: "";
  display: table;
  clear: both;
}

.foritems__article {
  float: left;
  width: 255px;
  margin: 0 30px 12px 0;
}

.foritems__article:last-child {
  margin: 0;
}

.foritems__article-picture {
  width: 255px;
}

.foritems__item {
  border: none;
}

.ad {
  margin: 0;
  padding: 30px 0;
}

.ad__item {
  display: table;
  float: left;
  width: 160px;
  height: 160px;
  background: #dedede;
  margin: 0 30px 0 0;
}

@media only screen and (max-width: 320px) {
  .ad__item {
    float: none;
    margin: 10px auto;
  }
}

.ad__item:last-child {
  margin-right: 0;
}

@media only screen and (max-width: 320px) {
  .ad__item:last-child {
    margin: 10px auto;
  }
}

.ad__item-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font: 18px Open Sans;
  color: #b4b4b4;
  text-transform: uppercase;
}

.item__botom {
  padding: 8px 0 17px 0;
}

.footer {
  background: #e1e1e1;
}

.footer__inner {
  height: auto;
  background: #53545e;
  padding: 0;
}

.footer__social {
  width: 100%;
  padding: 20px 30px;
  background: #f1f1f1;
}

.footer__social:after {
  content: "";
  display: table;
  clear: both;
}

.footer__social-title {
  float: left;
  font: 18px Open Sans;
  letter-spacing: -.3px;
  color: #53545e;
  text-transform: uppercase;
  line-height: 30px;
}

@media only screen and (max-width: 320px) {
  .footer__social-title {
    display: block;
    float: none;
    text-align: center;
  }
}

@media only screen and (max-width: 320px) {
  .footer__social-wrapper {
    width: 80px;
    margin: 0 auto;
  }
}

.footer__social-link {
  float: left;
  width: 34px;
  height: 34px;
}

.footer__social-link:hover {
  opacity: .6;
}

.footer__main {
  width: 100%;
  height: auto;
  padding: 23px 30px 30px 30px;
}

.footer__main:after {
  content: "";
  display: table;
  clear: both;
}

.footer__text {
  float: left;
  width: 69%;
  font: 14px helveticaneuecyrroman;
  color: #fff;
  line-height: 24px;
}

@media only screen and (max-width: 320px) {
  .footer__text {
    float: none;
    width: 100%;
  }
}

.footer__list {
  float: right;
  width: 31%;
}

@media only screen and (max-width: 320px) {
  .footer__list {
    float: none;
    width: 100%;
    padding: 23px 0 0 0;
  }
}

.footer__list-item {
  position: relative;
  padding: 0 0 0 52px;
}

@media only screen and (max-width: 320px) {
  .footer__list-item {
    padding: 0 0 0 10px;
  }
}

.footer__list-item:before {
  position: absolute;
  content: '';
  width: 7px;
  height: 10px;
  top: 6px;
  left: 34px;
  background: url("img/img.png") -92px -43px no-repeat;
}

@media only screen and (max-width: 320px) {
  .footer__list-item:before {
    left: -2px;
  }
}

.footer__list-link {
  font: 14px helveticaneuecyrroman;
  color: #fff;
  line-height: 24px;
}

.footer__list-link:hover {
  text-decoration: underline;
}

.footer__info {
  width: 540px;
  margin: 0 auto;
  border-top: 1px solid #a6a7b0;
  padding: 10px 0;
}

.footer__info:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 320px) {
  .footer__info {
    width: 80%;
  }
}

.footer__info-copyright,
.footer__info-online,
.footer__info-online__link {
  float: left;
  font: 12px helveticaneuecyrroman;
  color: #a6a7b0;
  line-height: 24px;
}

@media only screen and (max-width: 320px) {
  .footer__info-copyright,
  .footer__info-online,
  .footer__info-online__link {
    float: none;
    width: 100%;
  }
}

.footer__info-copyright__link {
  color: #fff;
}

.footer__info-copyright__link:hover {
  text-decoration: underline;
}

.footer__info-online {
  float: right;
}

@media only screen and (max-width: 320px) {
  .footer__info-online {
    float: none;
    width: 100%;
    text-align: center;
  }
}

.footer__info-online__link {
  float: none;
}

.footer__info-online__link:hover {
  text-decoration: underline;
}

.tw {
  background: url("img/img.png") 0 -43px no-repeat;
  margin-left: 40px;
}

@media only screen and (max-width: 320px) {
  .tw {
    margin-left: 0;
  }
}

.fb {
  background: url("img/img.png") -49px -43px no-repeat;
  margin-left: 10px;
}